/*FONTS*/
@import url('http://fonts.cdnfonts.com/css/montserrat');
@import url('http://fonts.cdnfonts.com/css/lato');
/*END*/

/*VARIABLES*/
:root {
    --primary-colour: white;
    --secondary-colour: black;
    --accent-colour: #3c3c3c;
    --primary-font: 'Montserrat', sans-serif;
    --secondary-font: 'Lato', sans-serif;
    --font-size-large: clamp(1rem, 10vw, 2rem);;
    --font-size-normal: clamp(1rem, 2.5vw, 1rem);
}
/*END*/

/*NavBAR CSS*/
.navbar-custom{
    background-color: rgba(255,255,255,1);
    box-shadow: 0 0 0 0;
    transition: box-shadow 0.5s ease-in-out;
}
/*END*/

/*MAIN DIVS*/
body{
    font-family: var(--primary-font);
    font-size: var(--font-size-normal);
}

#maindiv{
    color: var(--secondary-colour);
    background-color: var(--primary-colour);
    font-family: var(--primary-font);
}
/*END*/

/*PARALLAX CSS*/
.parallax-acronym{
    position: fixed;
    height: 100vh;
    width:100%;
    z-index: 0;
    background-image: url("/assets/background.gif");
    background-repeat: no-repeat;
    background-position: center; 
    background-size: cover;
    background-color: white;
    margin-top: 20vh;
    overflow:hidden;    
}

.text-container{
    padding-top: 10vh;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    font-size: 10vh;
    font-weight: bolder;
    width: 50vw;
}

.hidethis{
    opacity: 1;
    font-style: normal;
    transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -webkit-transition: opacity 1s ease-in-out;
}

.hidethis:after {
    content: '';
    width: 10px;
    height: 8vh;
    background: black;
    opacity: 0;
    display: inline-block;
    animation: blink 0.8s linear 17 alternate;
  }
  @keyframes blink {
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

@media only screen and (max-width: 1000px) {
    .text-container {
        padding-top: 25vh;
        word-wrap: break-word;
        font-size: 5vh;
        width: 95vw;
    }
    .hidethis:after {
        height: 4vh;
    }
  }


/*END*/

/*CONTENT CSS*/
.content-above{
    position:absolute;
    top: 85vh;
    width:100%;
    overflow:hidden;
}

.image-container{
    width:100%;
    height:fit-content;
    padding-top:max(15vh, 2.5rem);
    overflow: hidden;
    
    z-index: 0;
    top:0;
}

.image-bits{
    padding:10%;
    width: 100%;
    height:auto;
}
@media only screen and (max-width: 1000px) {
    .image-bits{
        padding:0;
    }
}
/*END*/

.content{
    position:sticky;
    z-index: 2;
    color: var(--secondary-colour);
    background-color:var(--primary-colour);
    height:fit-content;
    width: 100%;
}

/* TEXT TYPES */
.heading{
    font-size: var(--font-size-large);
    font-weight: bolder;
}

.heading a{
    text-decoration: none;
    color: inherit;
}

.normal{
    font-size: var(--font-size-normal);
    text-align:justify;  
    text-justify:auto;
}

.alt-bg{
    color: var(--primary-colour);
    background-color: var(--secondary-colour);
    overflow:hidden;
}

/* FOOTER */
.footerstuff{
    background-color: var(--secondary-colour);
    color: var(--primary-colour);
    width: 100%;
    height: fit-content;
    padding: 3vh;
    margin-top: 8vh;
}

/* SCROLL PROMPTER */
.scroll-prompt {
    position: absolute;
    bottom: 15%;
    left: 50%;
    z-index: 100;
    -moz-transition: opacity 1s ease-out;
    -o-transition: opacity 1s ease-out;
    -webkit-transition: opacity 1s ease-out;
    transition: opacity 1s ease-out;
  }
  
  .scroll-prompt .scroll-prompt-shape {
    position: relative;
    -moz-animation: slidedown 2.25s infinite;
    -webkit-animation: slidedown 2.25s infinite;
    animation: slidedown 2.25s infinite;
  }
  
  .scroll-prompt .scroll-prompt-shape:before,
  .scroll-prompt .scroll-prompt-shape:after {
    content: "";
    display: block;
    position: absolute;
    width: 3em;
    height: 0.5em;
    top: 0;
    left: 0;
    background: #000;
    -moz-border-radius: 0 0.25em 0.25em 0;
    -webkit-border-radius: 0;
    border-radius: 0 0.25em 0.25em 0;
    -moz-transform-origin: bottom left;
    -ms-transform-origin: bottom left;
    -webkit-transform-origin: bottom left;
    transform-origin: bottom left;
  }
  
  .scroll-prompt .scroll-prompt-shape:before {
    -moz-transform: scaleX(-1) rotate(-45deg);
    -ms-transform: scaleX(-1) rotate(-45deg);
    -webkit-transform: scaleX(-1) rotate(-45deg);
    transform: scaleX(-1) rotate(-45deg);
  }
  
  .scroll-prompt .scroll-prompt-shape:after {
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  
  @-moz-keyframes slidedown {
    0% {
      opacity: 0;
    }
    75% {
      opacity: 1;
      -moz-transform: translate(0, 80px);
      transform: translate(0, 80px);
    }
    100% {
      opacity: 0;
      -moz-transform: translate(0, 80px);
      transform: translate(0, 80px);
    }
  }
  @-webkit-keyframes slidedown {
    0% {
      opacity: 0;
    }
    75% {
      opacity: 1;
      -webkit-transform: translate(0, 80px);
      transform: translate(0, 80px);
    }
    100% {
      opacity: 0;
      -webkit-transform: translate(0, 80px);
      transform: translate(0, 80px);
    }
  }
  @keyframes slidedown {
    0% {
      opacity: 0;
    }
    75% {
      opacity: 1;
      -moz-transform: translate(0, 80px);
      -ms-transform: translate(0, 80px);
      -webkit-transform: translate(0, 80px);
      transform: translate(0, 80px);
    }
    100% {
      opacity: 0;
      -moz-transform: translate(0, 80px);
      -ms-transform: translate(0, 80px);
      -webkit-transform: translate(0, 80px);
      transform: translate(0, 80px);
    }
  }

  /* INSTAGRAM IFRAME */

iframe{
    width:30% !important;
    height: 50vh;
    overflow: scroll !important;
    display: inline !important;
}

.smallheading{
    font-size: var(--font-size-large);
    font-weight: bolder;
    margin-top: 5vh;
    margin-bottom: 5vh;
}

.startuplogo{
    width: 20%;
    height: auto;
}
@media only screen and (max-width: 1000px) {
    .startuplogo{
        width:80%;
    }
}

/* CSS */
.button-59 {
  align-items: center;
  background-color: #fff;
  border: 2px solid #000;
  box-sizing: border-box;
  color: #000;
  cursor: pointer;
  display: inline-flex;
  border-radius: 20px;
  fill: #000;
  font-family: Inter,sans-serif;
  font-size: var(--font-size-large);
  font-weight: 600;
  height: fit-content;
  justify-content: center;
  letter-spacing: -.8px;
  line-height: 24px;
  min-width: 140px;
  outline: 0;
  padding-top:3vmin;
  padding-bottom:3vmin;
  padding-left:8vmin;
  padding-right:8vmin;
  text-align: center;
  text-decoration: none;
  transition: all .3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-59:focus {
  color: #171e29;
}

.button-59:hover {
  border-color: #fff;
  color: #000;
  fill: #fff;
}

.button-59:active {
  border-color: #fff;
  color: #000;
  fill: #fff;
}

@media (min-width: 768px) {
  .button-59 {
    min-width: 170px;
  }
}
